@media (max-width:768px){
    .my-canvas{
        width: 280px !important;
       }

       .custom-dropdown .dropdown-menu{
        width: 320px;
       }

       .custom-dropdown .custom-notifications > li > a .text{
        font-size: 15px;
       }

       .div-util{
        border-radius: 20px;
        height: 65px;
      }
      
      .div-util img{
        height: 95px;
      }
}