:root{
--my-dark:#23262d;
--my-purple:#5f43b2;
--my-light:#fefdfd;
--my-khaki:#b1aebb;
--my-dark-purple:#3a3153;
}

body{
    background-color: var(--my-light);
}

#preloader{
    background-color: var(--my-khaki);
}

#loader{
    border-top-color: var(--my-dark-purple);
}

#loader:before{
    border-top-color: var(--my-dark);

}

#loader:after{
    border-top-color: var(--my-purple);
}

.header{
    background-color: var(--my-purple);
}

.header button{
    color: var(--my-light);
}

.dropdown-menu{
    background-color: var(--my-dark-purple) !important;
    color: var(--my-light) !important;
}


.custom-dropdown .custom-notifications > li > a .text{
    color: var(--my-light);
}

.custom-dropdown .custom-notifications > li > a .text strong {
    color: var(--my-khaki);
}

.custom-dropdown .custom-notifications > li.unread a:hover{
background-color: var(--my-purple);
border-radius: 0 15px 15px 0;
}

.custom-dropdown .btn.btn-custom {
    border: 1px solid var(--my-light);
  }

  .text-notification{
    color: var(--my-light);
  }

  .offcanvas-body{
background-color: var(--my-purple);
  }

  .close-btn{
    background-color: var(--my-purple);
    border-color: var(--my-light);
  }

  .close-btn:hover{
    background-color: var(--my-light);
    border-color: var(--my-purple);
  }

  .close-btn:hover > i.bi{
    color: var(--my-purple);
  }

  .close-btn i.bi{
    color: var(--my-light);
  }

  .link-user{
    background-color: var(--my-dark-purple);
  }

  .link-user li:hover{
    background-color: var(--my-purple);
  }

  .link-user li a{
    color: var(--my-light);
  }

  .user-img{
    border-color: var(--my-dark-purple);
  }

  .offcanvas-start .offcanvas-header{
    background-color: var(--my-purple);
  }

  .offcanvas-start .offcanvas-header h5{
    color: var(--my-light);
  }

  .menu-site a{
    color: var(--my-light);
  }

.div-util{
  background-color: var(--my-purple);
}

.div-util h5{
  color: var(--my-light);
}

#slider-first .owl-dots button span{
  color: var(--my-khaki) !important;
}

#slider-first .owl-dots button.active span{
  background-color: var(--my-purple ) !important;
}

.slider-two{
background-color: var(--my-dark);
}

#slider-second .item a{
  color: var(--my-dark) !important;
}

#slider-second .item{
  color: var(--my-dark) !important;
  background-color: var(--my-light);
}

#slider-second .slider-text{
  background-color: transparent;
}

#slider-second .slider-text i{
  color: var(--my-purple);
}

#slider-second .owl-dots button span{
  color: var(--my-khaki) !important;
}

#slider-second .owl-dots button.active span{
  background-color: var(--my-purple ) !important;
}

.slider-title h3{
  color: var(--my-light) !important;
}

.slider-title h3:before{
  background: var(--my-purple);
}

.slider-title h3:after{
  background: var(--my-khaki);
}

#slider-three .item{
  color: var(--my-dark);
  background-color: var(--my-light);
}

#slider-three .slider-text i{
  color: var(--my-purple);
}

#slider-three .owl-nav button{
  color: var(--my-purple);
  background-color: var(--my-khaki);
}

 