:root{
--my-body: #f0f2f5 ;
--my-text: #1c1e21 ;
--my-footer-text: #8a8d91 ;
--my-color-blue: #1877f2 ;
--my-color-blue-hover: #365899 ; 
--my-color-green: #36a420 ;
--my-color-green-hover: #42b72a ; 
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/iranyekan/eot/iranyekanwebbold(fanum).eot');
    src: url('../fonts/iranyekan/eot/iranyekanwebbold(fanum).eot?#iefix') format('embedded-opentype'),
        /* IE6-8 */
        url('../fonts/iranyekan/woff2/iranyekanwebbold(fanum).woff2') format('woff2'),
        /* FF39+,Chrome36+, Opera24+*/
        url('../fonts/iranyekan/woff/iranyekanwebbold(fanum).woff') format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('../fonts/iranyekan/ttf/iranyekanwebbold(fanum).ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/iranyekan/eot/iranyekanweblight(fanum).eot');
    src: url('../fonts/iranyekan/eot/iranyekanweblight(fanum).eot?#iefix') format('embedded-opentype'),
        /* IE6-8 */
        url('../fonts/iranyekan/woff2/iranyekanweblight(fanum).woff2') format('woff2'),
        /* FF39+,Chrome36+, Opera24+*/
        url('../fonts/iranyekan/woff/iranyekanweblight(fanum).woff') format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('../fonts/iranyekan/ttf/iranyekanweblight(fanum).ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/iranyekan/eot/iranyekanwebregular(fanum).eot');
    src: url('../fonts/iranyekan/eot/iranyekanwebregular(fanum).eot?#iefix') format('embedded-opentype'),
        /* IE6-8 */
        url('../fonts/iranyekan/woff2/iranyekanwebregular(fanum).woff2') format('woff2'),
        /* FF39+,Chrome36+, Opera24+*/
        url('../fonts/iranyekan/woff/iranyekanwebregular(fanum).woff') format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('../fonts/iranyekan/ttf/iranyekanwebregular(fanum).ttf') format('truetype');
}


*{
    font-family: iranyekan;
}

body{
background-color: var(--my-body) ;
text-align: right;    
}

h1,h2,h3,h4,h5,h6{
color: var(--my-text);    
}

p{
color: var(--my-text);    
}

a{
   text-decoration: none; 
}

.my-text-blue{
    color: var(--my-color-blue) !important ;
}

.my-text-green{
    color: var(--my-color-green) !important ;
}

.my-blue-button{
padding: 12px 5px;
border-radius: 15px;  
border: 1px solid var(--my-color-blue); 
background-color: var(--my-color-blue); 
color: var(--my-body);
}

.my-blue-button:hover{
background-color: var(--my-color-blue-hover);    
}

.my-green-button{
    padding: 12px 5px;
    border-radius: 15px;  
    border: 1px solid var(--my-color-green); 
    background-color: var(--my-color-green); 
    color: var(--my-body);
    }
    
    .my-green-button:hover{
    background-color: var(--my-color-green-hover);    
    }

    .img-logo{
    height: 35px;    
    }

    .img-drop-basket{
height: 50px;        
    }

    .dropdown-navbar{
        width: 500px;
    }

.navbar-nav li a.active{
color: var(--my-color-green) !important;
border-bottom: 2px solid var(--my-color-green) !important;
} 

.navbar-nav li a{
border-bottom:  2px solid transparent;    
}

.navbar-nav li a:hover{
    color: var(--my-color-green-hover) !important;
    border-bottom: 2px solid var(--my-color-green-hover) !important;
}

.faseleh{
    width: 100%;
    height: 30px;
}

.button-slider{
    width: auto !important ;
    height:auto !important ;
    text-indent: 0 !important;
    padding: 3px 14px !important;
    font-size: 12px !important;
    border-radius: 11px !important;
}

.img-slider2{
    cursor: pointer;
}

.img-gallery{
    cursor:zoom-in ;
}

.img-slider-product{
   height: 80px;
}

.carousel-control-next, .carousel-control-prev{
width: 10% !important;
}

@media(max-width:767px){
    .dropdown-navbar{
        width: 200px;
    }

    .faseleh{
        width: 100%;
        height: 15px;
    }
}

@media(max-width:410px){
    .img-logo{
        width: 120px;
    }
}